h1 {
    color: #336699;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.common {
    margin: 0 0 2rem 0;
    list-style-type: none;
    padding: 0;
    width: 30rem;
}

.common li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #eee;
    margin: .5em;
    padding: .3em 0;
    height: 4.0em;
    border-radius: 4px;
}

.number {
    // display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 5.0em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    float: left;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    float: right;
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    white-space: nowrap; // отмена переноса
    overflow: hidden; // обрезка содержимого
    text-overflow: ellipsis; // многоточие

}

// .common li :hover {
//     color: #607d8b;
//     background-color: #ddd;
//     left: .1em;
// }

// .common li .selected {
//     background-color: #cfd8dc;
//     color: white;
// }

// .common li.selected:hover
// {
//     background-color: #bbd8dc;
//     color: white;
// }