.containerHistory {
    margin-left: 0;
    width: 450px;
    max-width: 100%;    
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #336699;
    // opacity: 0.9;
}

h1 {
    margin-left: 18px;
    color:#fefefe;// #336699;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.common {
    margin: 0 0 2rem 0;
    list-style-type: none;
    padding: 0;
    width: 30rem;
}

.common li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    height: 4.0em;
}

.blockCommon {
    position: relative;
    height: 4.0rem;
    width: 400px;
    max-width: 100%;
    margin-left: 0;

    background-color: #eee;
    border-radius: 4px;
}

.blockNumber {
    position: relative;
    float: left;
    height: 102%;
    width: 12%;
    text-align: center;
    padding-top: 1.5rem;
    background-color: #405060;    
    border-radius: 4px 0 0 4px;

    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    color: white;
}

.blockCommon:hover {
    background-color: #ddd;  
}

.blockCommon:active {
    background-color:#cfd8dc;
}

.blockCommon:hover .blockNumber {
    background-color: #9299a1;   
}

.blockCommon:active .blockNumber {
    background-color: #e6e6e6;
    color: #405060;
}

.blockText {
    position: absolute;

    // outline: 1px solid red;
    height: 2.5rem;
    width: 100% - 12% - 10%;
    left: 12%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-top: 0.75rem;
    line-height: 1rem;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    white-space: nowrap; // отмена переноса
    overflow: hidden; // обрезка содержимого
    text-overflow: ellipsis; // многоточие
}

.blockClose {
    position: relative;
    float: right;
    width: 10%;
    height: 2.5rem;
    text-align: right;
    
    border-radius: 0 4px 0 0;
}

.blockDate {
    position: absolute;
    top: 2.5rem;
    left: 12%;
    width: 100% - 12%;
    height: 4rem - 2.5rem;
    text-align: right;
    padding-right: 0.5rem;
    border-radius: 0 0 4px 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.blockCommon:hover .blockText, 
.blockCommon:hover .blockDate {
    background-color: #ddd;
    color:#fefefe;
}

.blockCommon:active .blockText,
.blockCommon:active .blockDate {
    background-color:#cfd8dc;
}

.btnCross {
    position: relative;
    opacity: 0.3;

    float: right;
    width: 1.5rem;
    height: 1.5rem;
    text-align: right;
    
    border-radius: 0 4px 0 0;
}

.btnCross::before, .btnCross::after {
    position: absolute;
    top:0.1rem;
    left: 0.6rem;
    content: ' ';
    height: 1.2rem;
    width: 1.5px;
    background-color: #405060;
}

.btnCross::before {
    transform: rotate(45deg);
}

.btnCross::after {
    transform: rotate(-45deg);
}


.btnCross:hover {
    opacity: 1;
}

.btnCross:active {
    color: #fefefe;
}
