/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');


.card {
    min-width: 400px;
    max-width: 600px;
    min-height: 200px;
    max-height: 400px;
    // height: 50%; //200px;
    border: black solid 1px;
    border-radius: 10px;
    background-color:#eee;// #336699;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    padding: 1rem;
    margin-top: 3rem;
    // margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);  
      
}

.text{
    color:#405060;// #fefefe;
    font-size: medium;
    margin: auto;
}

.circle {
    width: 30px;
    height: 30px;
    border:#405060 solid 1px;// #fefefe solid 1px;
    border-radius: 50%;
    
    
    text-align: center;
    margin: 20px 20px;
    display: flex;
}

.description {
    width: 80%;
    max-height: 200px;
    padding: 10px 10px;
}

.btnStyle {
    border: 1px solid #fefefe;
}

.btnStyleText {
    color: #fefefe;
    font-size: 2rem;
    margin: auto;   
    font-weight: bolder; 
}