.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}

.card {
    min-width: 400px;
    max-width: 600px;
    min-height: 200px;
    max-height: 400px;
    // height: 50%; //200px;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #336699;

    padding: 1rem;
    margin-top: 3rem;
    // margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);  
      
}

.text{
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: auto;
}

.circle {
    width: 30px;
    height: 30px;
    border: #fefefe solid 1px;
    border-radius: 50%;
    
    
    text-align: center;
    margin: 20px 20px;
    display: flex;
}

.description {
    width: 80%;
    max-height: 200px;
    padding: 10px 10px;
}
